.App {
  text-align: center;
  // height: 100%;
  // width: 100%;
}

.App-link {
  color: #61dafb;
}

.bitcoin-img{
  width: 250px;
}

.swal2-popup.swal2-toast .swal2-title {
  font-size: 1.7rem !important;
}